/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron {
    text-align: center;
    background-image: url('../images/hero_image.jpg');
    color: white;
}
.jumbotron h1 {
    margin-top: 0;
    margin-bottom: 50px;
}
.jumbotron p {
    margin-bottom: 30px;
    font-weight: 100;
    padding: 0 50px;
}
ul.nav, .jumbotron h1 {
    font-family: 'Arvo', courier, serif;
}
ul nav {
    font-size: 13px;
}
.btn-lg {
    font-size: 36px;
}
.homepage {
    text-align: center;
}
.homepage h2, .homepage h3 {
    color: #E74C3C;
    font-family: 'Arvo', courier, serif;
    text-transform: uppercase;
}
.homepage h2 {
    font-size: 30px;
}
.homepage h3 {
    font-size: 26px;
}
.homepage p {
    font-size: 21px;
    font-weight: 300;
}
.homepage a {
    color: #E74C3C;
}
.homepage a:hover {
    color: #E74C3C;
    opacity: .8;
    text-decoration: none;
}
.homepage hr {
    border-top: 1px solid #E74C3C;
    width: 160px;
    margin-top: 15px;
}
